extends layout

block content
    div#body_container
        div#add_team_section
            h2 Add Drafting Team
            h3 #{currentDraft.season.charAt(0).toUpperCase()+currentDraft.season.slice(1)} #{currentDraft.year}
            p At least three (3) members are required.
        
            form(method='post', id='add_team_form')
                input(type='hidden', name='season', value=currentDraft.season)
                input(type='hidden', name='year', value=currentDraft.year)
                div#team_name_input
                    label(for="team_name") Team Name: &nbsp;
                    input(id='team_name', name='team_name', class=(highlightRequired ? "required" : ""))
                    - var i = 0
                    while i < 3
                        - j = i
                        - i++
                            div(id= 'member_' + i)
                                label Member #{i}: &nbsp;
                                input(id= 'member_input_' + i, name='member', class=(highlightRequired ? "required" : ""))
                    while i < 8
                        - j = i
                        - i++
                            div(id= 'member_input_' + i)
                                label Member #{i}: &nbsp;
                                input(name='member')
                    div#submit_form
                        input(class="submit_button",type='submit',value='Add Team')
        div#success_section
            h2 Success
            h3 Team Added
            p
                a#draft_url Start Draft
            p
                a(href="/") Back to Home Page




block script
    script.
        $(document).ready(function() {
            $("#add_team_form").submit(function(e){
                e.preventDefault();

                var minMembers = 3;
                var requiredIds = [{ _id: 'team_name', type: 'string' }];
                for (var i = 1; i <= minMembers; i++) {
                    requiredIds.push({ _id: 'member_input_'+i, type: 'string' });
                }

                required = requiredFields(requiredIds);
                if (typeof required == 'string') {
                    $('#'+required).addClass('required');
                }
                else {
                    var jsonData = $("#add_team_form").serializeArray();
                    $.ajax({
                        type: "POST",
                        url: '/add_team',
                        data: jsonData,
                        success: function() {
                            var elms = new Array;
                            for (var i = 0; i <= 2; i++) {
                                elms.push(jsonData[i].value.replace(/\s+/g,"_").replace(/[^a-zA-Z0-9_]/,""));
                            }
                            var draftUrl = "/draft/"+elms.join('-')+"/0/";
                            $('#draft_url').prop('href',draftUrl);
                            $('#add_team_section').css('display','none');
                            $('#success_section').css('display','block');
                        },
                        error: function() {
                            alert('An error occured processing this request.');
                            for (var i; i <= requiredIds.length; i++) {
                                $('#'+requiredIds[i]).addClass('required');
                            }
                        },
                        dataType: 'json'
                    });
                }
            });
        });
