extends layout

block content
    - var nextMovie = movieNumber + 1
    div#body_container
        if notFound !== null
            h2 Not Found
            p We were unable to find this #{notFound}
        else
            - var today = new Date()
            div#movie_display
                div#movie_title
                div#movie_poster
                    a.video_link(youtubeId= movie.youtubeId, href='#')
                        img(src= movie.posterUrl, border=0)
                        div.play_circle
                            div.play_circle_inner
                div#movie_info

                    div#set_price
                        if team.draftPosition > movieNumber
                            if draft.draftStart <= today && today <= draft.draftEnd
                                h3 Sale information redacted until the draft period ends
                            else
                                h3 Movie Stats
                                table
                                    thead
                                        th Winner
                                        th Bid
                                        th Percentage
                                    tbody
                                        each member in team.member
                                            each thisMovie in member.movies
                                                if thisMovie.movieId == movie.id
                                                    td #{member.name}
                                                    td #{thisMovie.bid}
                                                    td #{thisMovie.percent}
                                br
                        else
                            if draft.draftStart <= today && today <= draft.draftEnd
                                h3 Finalize Price
                                form#set_price_form
                                    input(type="hidden", name="movieId", value=movie.id)
                                    input(type="hidden", name="teamId", value=team.id)
                                    input(type="hidden", name="movieIndex", value=movie.order)
                                    input(type="hidden", name="finalMovie", value=finalMovie)
                                    label(for="winner") Winner
                                    select(id="set_price_form_winner", name="winner")
                                        option(value="", disabled, selected)
                                        each member in team.member
                                            option(value= member.id) #{member.name}
                                    br
                                    label(for="bid") Bid
                                    input(name="bid", id="set_price_form_bid" size="3", class="numbers_only")
                                    small (Valid Bids: 1 to 100 Bux)
                                    br
                                    label(for="percent") Percentage
                                    input(name="percent", id="set_price_form_percent" size="3", value="100", disabled, class="numbers_only")
                                    br
                                    input(class="submit_button",type='submit',value='Complete Purchase')
                            else
                                h3 Form Unavailable
                                h4 Not in the current draft period
                    div#more_info
                        h3 More Info
                        ul
                            li Release Date: #{prettyDate(movie.releaseDate)}
                            li
                                a(href="http://www.imdb.com/title/" + movie.imdbId + "/" target='_blank') IMDB
                    div#members
                        h3 Overall Stats
                        include member_movie_stats.pug

                        if team.draftPosition > movieNumber
                            p
                                a(href="/draft/" + team.id + "/" + nextMovie + "/") Next Movie



block script
    script.
        // strip non numeric characters as they're typed
        $(".numbers_only").keyup(function() {
            this.value = this.value.replace(/[^0-9]/,'');

            if (this.id == "set_price_form_bid") {
                if (this.value == 100) {
                    $("#set_price_form_percent").prop('disabled', false);
                }
                else {
                    $("#set_price_form_percent").prop('disabled', true);
                }
            }
        });

        // handle form submits
        $("#set_price_form").submit(function(e) {
            e.preventDefault();

            function testNumbers(number) {
                if (isNaN(number)) {
                    // not a number
                    return false;
                } else if (number % 1 !== 0) {
                    // not a whole number
                    return false;
                } else if (number < 1 || number > 100) {
                    // less than 1 or greater than 100
                    return false;
                } else {
                    return true;
                }
            }

            // if no winner is selected
            if ($("#set_price_form_winner option:selected").text().length == 0) {
                $("#set_price_form_winner").addClass('required');
                alert("Please select a winner");
            }
            // if the bid is invalid
            else if (!testNumbers($("#set_price_form_bid").val())){
                $("#set_price_form_bid").addClass('required');
                alert("Bid value invalid: "+$("#set_price_form_bid").val());
            }
            // if the percent is invalid
            else if (!testNumbers($("#set_price_form_percent").val())){
                $("#set_price_form_percent").addClass('required');
                alert("Percent value invalid: "+$("#set_price_form_percent").val());
            }
            // if everything checks out then proceed
            else {
                var jsonData = $("#set_price_form").serializeArray();
                $.ajax({
                    type: "POST",
                    url: '/draft',
                    data: jsonData,
                    success: function() {
                        var teamId = jsonData[1].value;
                        var nextMovie = parseInt(jsonData[2].value) + 1;
                        if (jsonData[3].value != 1) {
                            var newUrl = '/draft/'+teamId+'/'+nextMovie+'/';
                        }
                        else {
                            var newUrl = '/';
                        }
                        window.location.replace(newUrl);
                    },
                    error: function() {
                        alert('An error occured processing this request.');
                    },
                    dataType: 'json'
                });
            }
        });
