extends layout

block content
    div#body_container
        if not_found !== null
            h2 Not Found
            p We were unable to find this #{not_found}
        else
            div#movie_display
                div#movie_title
                    h1 #{movie.name}
                    h3 Release Date: #{prettyDate(movie.release_date)}
                div#movie_poster
                    a(href='https://www.youtube.com/embed/#{movie.yt_id}' target='_blank')
                        img(src= movie.poster_url, border=0)
                        div.play_circle
                            div.play_circle_inner
                div#movie_info
                    div#members
                        table
                            thead
                                th Member
                                th Movies Owned
                                th Remaining Bux
                            tbody
                                each member in team.member
                                    tr
                                        td #{member.name}
                                        td #{member.movies.length}
                                        td $5
                    div#set_price
                        h3 Finalize Price
                        form
                            label(for="winner") Winner
                            select(name="winner")
                                option(value="", disabled, selected)
                                each member in team.member
                                    option(value= member._id) #{member.name}
                            br
                            label(for="bid") Bid
                            input(name="bid", size="3")
                            br
                            label(for="percent") Percentage
                            input(name="percent", size="3", value="100", disabled)
                            br
                            input(class="submit_button",type='submit',value='Add Team')
