extends layout

block content
    - var next_movie = movie_number + 1
    div#body_container
        if not_found !== null
            h2 Not Found
            p We were unable to find this #{not_found}
        else
            - var c_date = ymd();
            div#movie_display
                div#movie_title
                div#movie_poster
                    a.yt_link(yt_id= movie.yt_id, href='#')
                        img(src= movie.poster_url, border=0)
                        div.play_circle
                            div.play_circle_inner
                div#movie_info

                    div#set_price
                        if team.draft_position > movie_number
                            if c_date >= draft.draft_start && c_date <= draft.draft_end
                                h3 Sale information redacted until the draft period ends
                            else
                                h3 Movie Stats
                                table
                                    thead
                                        th Winner
                                        th Bid
                                        th Percentage
                                    tbody
                                        each member in team.member
                                            each this_movie in member.movies
                                                if this_movie.movie_id == movie._id
                                                    td #{member.name}
                                                    td #{this_movie.bid}
                                                    td #{this_movie.percent}
                                br
                        else
                            if c_date >= draft.draft_start && c_date <= draft.draft_end
                                h3 Finalize Price
                                form#set_price_form
                                    input(type="hidden", name="movie_id", value="#{movie._id}")
                                    input(type="hidden", name="team_id", value="#{team._id}")
                                    input(type="hidden", name="movie_number", value="#{movie.order}")
                                    input(type="hidden", name="final_movie", value="#{final_movie}")
                                    label(for="winner") Winner
                                    select(id="set_price_form_winner", name="winner")
                                        option(value="", disabled, selected)
                                        each member in team.member
                                            option(value= member._id) #{member.name}
                                    br
                                    label(for="bid") Bid
                                    input(name="bid", id="set_price_form_bid" size="3", class="numbers_only")
                                    small (Valid Bids: 1 to 100 Bux)
                                    br
                                    label(for="percent") Percentage
                                    input(name="percent", id="set_price_form_percent" size="3", value="100", disabled, class="numbers_only")
                                    br
                                    input(class="submit_button",type='submit',value='Complete Purchase')
                            else
                                h3 Form Unavailable
                                h4 Not in the current draft period
                    div#more_info
                        h3 More Info
                        ul
                            li Release Date: #{prettyDate(movie.release_date)}
                            li
                                a(href='http://www.boxofficemojo.com/movies/?id=#{movie.bom_id}' target='_blank') Box Office Mojo
                            li 
                                a(href='http://www.imdb.com/title/#{movie.imdb_id}/' target='_blank') IMDB
                    div#members
                        h3 Overall Stats
                        include member_movie_stats.jade

                        if team.draft_position > movie_number
                            p
                                a(href="/draft/#{team._id}/#{next_movie}/") Next Movie



block script
    script.
        // strip non numeric characters as they're typed
        $(".numbers_only").keyup(function() {
            this.value = this.value.replace(/[^0-9]/,'');

            if (this.id == "set_price_form_bid") {
                if (this.value == 100) {
                    $("#set_price_form_percent").prop('disabled', false);
                }
                else {
                    $("#set_price_form_percent").prop('disabled', true);
                }
            }
        });

        // handle form submits
        $("#set_price_form").submit(function(e) {
            e.preventDefault();

            function testNumbers(number) {
                if (isNaN(number)) {
                    // not a number
                    return false;
                } else if (number % 1 !== 0) {
                    // not a whole number
                    return false;
                } else if (number < 1 || number > 100) {
                    // less than 1 or greater than 100
                    return false;
                } else {
                    return true;
                }
            }

            // if no winner is selected
            if ($("#set_price_form_winner option:selected").text().length == 0) {
                $("#set_price_form_winner").addClass('required');
                alert("Please select a winner");
            }
            // if the bid is invalid
            else if (!testNumbers($("#set_price_form_bid").val())){
                $("#set_price_form_bid").addClass('required');
                alert("Bid value invalid: "+$("#set_price_form_bid").val());
            }
            // if the percent is invalid
            else if (!testNumbers($("#set_price_form_percent").val())){
                $("#set_price_form_percent").addClass('required');
                alert("Percent value invalid: "+$("#set_price_form_percent").val());
            }
            // if everything checks out then proceed
            else {
                var json_data = $("#set_price_form").serializeArray();
                $.ajax({
                    type: "POST",
                    url: '/draft',
                    data: json_data,
                    success: function() {
                        var team_id = json_data[1].value;
                        var next_movie = parseInt(json_data[2].value) + 1;
                        console.log(json_data);
                        if (json_data[3].value != 1) {
                            var new_url = '/draft/'+team_id+'/'+next_movie+'/';
                        }
                        else {
                            var new_url = '/';
                        }
                        window.location.replace(new_url);
                    },
                    error: function() {
                        alert('An error occured processing this request.');
                    },
                    dataType: 'json'
                });
            }
        });
