extends layout

block content
    - var today = new Date()
    div#body_container
        div#body_left
            h2 Movies
            include movie_table.pug
        div#body_right
            div#team_list
                h2 Teams
                table
                    thead
                        tr
                            th Name
                            th Members
                            th Status
                            th Leader
                    tbody
                        each team in teams
                            tr
                                td
                                    a(href="/team/" + team.id) #{team.teamName}
                                td #{team.member.length}
                                if team.draftComplete === false
                                    if currentDraft.draftStart <= today && today <= currentDraft.draftEnd 
                                        if team.draftPosition == 0
                                            td
                                                a(href="/draft/" + team.id + "/0/") Not Started
                                        else
                                            td
                                                a(href="/draft/" + team.id + "/" + team.draftPosition + "/") Incomplete
                                    else
                                        td Incomplete
                                else
                                        if currentDraft.draftEnd < today
                                            td
                                                a(href="/draft/" + team.id + "/0/") Draft Complete
                                        else
                                            td Draft Complete
                                td None

            if currentDraft.draftStart <= today && today <= currentDraft.draftEnd 
                div#team_action
                    br
                    a#add_team_button(href='/add_team') Add Team
            div#draft_details
                h2 Draft Details
                div#previous_draft
                    h3 Previous Draft
                    if (typeof previousDraft == "object")
                        p #{previousDraft.season.charAt(0).toUpperCase()+previousDraft.season.slice(1)} #{previousDraft.year}
                        ul
                            li Drafting Started: #{prettyDate(previousDraft.draftStart)}
                            li Drafting Ended: #{prettyDate(previousDraft.draftEnd)}
                            li First Movie Opened: #{prettyDate(previousDraft.seasonStart)}
                            li Game Ended: #{prettyDate(previousDraft.seasonEnd)}
                    else
                        p
                            i Not Found
                div#current_draft
                    h3 Current Draft
                    p #{currentDraft.season.charAt(0).toUpperCase()+currentDraft.season.slice(1)} #{currentDraft.year}
                    ul
                        li Drafting Starts: #{prettyDate(currentDraft.draftStart)}
                        li Drafting Ends: #{prettyDate(currentDraft.draftEnd)}
                        li First Movie Opens: #{prettyDate(currentDraft.seasonStart)}
                        li End of Game: #{prettyDate(currentDraft.seasonEnd)}
                div#next_draft
                    h3 Next Draft
                    if (typeof nextDraft == "object")
                        p #{nextDraft.season.charAt(0).toUpperCase()+nextDraft.season.slice(1)} #{nextDraft.year}
                        ul
                            li Drafting Starts: #{prettyDate(nextDraft.draftStart)}
                            li Drafting Ends: #{prettyDate(nextDraft.draftEnd)}
                            li First Movie Opens: #{prettyDate(nextDraft.seasonStart)}
                            li End of Game #{prettyDate(nextDraft.seasonEnd)}
                    else
                        p
                            i TBD
