extends layout

block content
    - var c_date = ymd();
    div#body_container
        div#body_left
            h2 Movies
            include movie_table.pug
        div#body_right
            div#team_list
                h2 Teams
                table
                    thead
                        tr
                            th Name
                            th Members
                            th Status
                            th Leader
                    tbody
                        each team in teams
                            tr
                                td
                                    a(href="/team/#{team._id}") #{team.team_name}
                                td #{team.member.length}
                                if team.draft_complete === false
                                    if c_date >= current_draft.draft_start && c_date <= current_draft.draft_end 
                                        if team.draft_position == 0
                                            td
                                                a(href="/draft/#{team._id}/0/") Not Started
                                        else
                                            td
                                                a(href="/draft/#{team._id}/#{team.draft_position}/") Incomplete
                                    else
                                        td Incomplete
                                else
                                        if c_date > current_draft.draft_end 
                                            td
                                                a(href="/draft/#{team._id}/0/") Draft Complete
                                        else
                                            td Draft Complete
                                td None

            if c_date >= current_draft.draft_start && c_date <= current_draft.draft_end 
                div#team_action
                    br
                    a#add_team_button(href='/add_team') Add Team
            div#draft_details
                h2 Draft Details
                div#previous_draft
                    h3 Previous Draft
                    if (typeof previous_draft == "object")
                        p #{previous_draft.season.charAt(0).toUpperCase()+previous_draft.season.slice(1)} #{previous_draft.year}
                        ul
                            li Drafting Started: #{prettyDate(previous_draft.draft_start)}
                            li Drafting Ended: #{prettyDate(previous_draft.draft_end)}
                            li First Movie Opened: #{prettyDate(previous_draft.season_start)}
                            li Game Ended: #{prettyDate(previous_draft.season_end)}
                    else
                        p
                            i Not Found
                div#current_draft
                    h3 Current Draft
                    p #{current_draft.season.charAt(0).toUpperCase()+current_draft.season.slice(1)} #{current_draft.year}
                    ul
                        li Drafting Starts: #{prettyDate(current_draft.draft_start)}
                        li Drafting Ends: #{prettyDate(current_draft.draft_end)}
                        li First Movie Opens: #{prettyDate(current_draft.season_start)}
                        li End of Game: #{prettyDate(current_draft.season_end)}
                div#next_draft
                    h3 Next Draft
                    if (typeof next_draft == "object")
                        p #{next_draft.season.charAt(0).toUpperCase()+next_draft.season.slice(1)} #{next_draft.year}
                        ul
                            li Drafting Starts: #{prettyDate(next_draft.draft_start)}
                            li Drafting Ends: #{prettyDate(next_draft.draft_end)}
                            li First Movie Opens: #{prettyDate(next_draft.season_start)}
                            li End of Game #{prettyDate(next_draft.season_end)}
                    else
                        p
                            i TBD
