extends layout

block content
    div#body_container
        div#body_left
            h2 Movies
            include movie_table.jade
        div#body_right
            div#current_draft
                h2 Current Draft
                p #{current_draft.season.charAt(0).toUpperCase()+current_draft.season.slice(1)} #{current_draft.year}
                ul
                    li Starts: #{prettyDate(current_draft.draft_start)}
                    li Ends: #{prettyDate(current_draft.draft_end)}
                    li Draft Period: #{prettyDate(current_draft.season_start)} -- #{prettyDate(current_draft.season_end)}
            div#team_list
                h2 Teams
                table
                    tr
                        th Name
                        th Members
                        th Leader
            div#team_action
                a#team_button(href='/add_team') Add Team
