extends layout

block content
    - var today = new Date()
    div#body_container
        div#body_left
            h2 Movies
            include movie_table.pug
        div#body_right
            div#team_list
                h2 Teams
                table
                    thead
                        tr
                            th Name
                            th Members
                            th Status
                            th Leader
                    tbody
                    if (typeof teams !== "object")
                        each team in teams
                            tr
                                td
                                    a(href="/team/" + team.id) #{team.teamName}
                                td #{team.member.length}
                                if team.draftComplete === false
                                    if thisDraft.draft_start <= today && today <= thisDraft.draft_end 
                                        if team.draftPosition == 0
                                            td
                                                a(href="/draft/" + team.id + "/0/") Not Started
                                        else
                                            td
                                                a(href="/draft/" + team.id + "/" + team.draftPosition + "/") Incomplete
                                    else
                                        td Incomplete
                                else
                                        if thisDraft.draft_end < today
                                            td
                                                a(href="/draft/" + team.id + "/0/") Draft Complete
                                        else
                                            td Draft Complete
                                td None
                    else
                        tr
                            td(colspan=4 style='text-align:center')
                                i Not Found

            if thisDraft.draft_start <= today && today <= thisDraft.draft_end 
                div#team_action
                    br
                    a#add_team_button(href='/add_team') Add Team
            div#draft_details
                h2 Draft Details
                div#lastDraft
                    h3 Previous Draft
                    if (typeof lastDraft == "object")
                        p #{lastDraft.season} #{lastDraft.year}
                        ul
                            li Drafting Started: #{prettyDate(lastDraft.draftStart)}
                            li Drafting Ended: #{prettyDate(lastDraft.draftEnd)}
                            li First Movie Opened: #{prettyDate(lastDraft.seasonStart)}
                            li Game Ended: #{prettyDate(lastDraft.seasonEnd)}
                    else
                        p
                            i Not Found
                div#current_draft
                    h3 Current Draft
                    p #{thisDraft.season} #{thisDraft.year}
                    ul
                        li Drafting Starts: #{prettyDate(thisDraft.draft_start)}
                        li Drafting Ends: #{prettyDate(thisDraft.draft_end)}
                        li First Movie Opens: #{prettyDate(thisDraft.season_start)}
                        li End of Game: #{prettyDate(thisDraft.season_end)}
                div#next_draft
                    h3 Next Draft
                    if (typeof nextDraft == "object")
                        p #{nextDraft.season} #{nextDraft.year}
                        ul
                            li Drafting Starts: #{prettyDate(nextDraft.draftStart)}
                            li Drafting Ends: #{prettyDate(nextDraft.draftEnd)}
                            li First Movie Opens: #{prettyDate(nextDraft.seasonStart)}
                            li End of Game #{prettyDate(nextDraft.seasonEnd)}
                    else
                        p
                            i TBD
