block movie_table
    table#movie_table
        thead
            tr
                th Title
                th &nbsp;
                th &nbsp;
                if found === true
                    th Owner
                    th Cost
                th Release Date
                th Gross
                if found === true
                    th Efficency
        tbody
            each movie in movies
                tr
                    td
                        a(href='https://www.youtube.com/embed/#{movie.yt_id}' target='_blank') #{movie.name}
                    td
                        a(href='http://www.imdb.com/title/#{movie.imdb_id}/' target='_blank')
                            img(src='/public/images/imdb.png' width=32 height=32 border=0)
                    td
                        a(href='http://www.boxofficemojo.com/movies/?id=#{movie.bom_id}' target='_blank')
                            img(src='/public/images/bom.jpg' width=32 height=32 border=0)
                    if found == true
                        td Derek
                        td $1
                    td #{prettyDate(movie.release_date)}
                    if movie.gross
                        td $#{movie.gross}
                    else
                        td $0
                    if found == true
                        td $100,000,000
