block movie_table
    - var c_date = ymd();
    table#movie_table
        thead
            tr
                th Title
                th &nbsp;
                th &nbsp;
                if found === true
                    th Owner
                    th Cost
                th Release Date
                th Gross
                if found === true
                    th Efficency
        tbody
            each movie in movies
                tr
                    td
                        a.yt_link(yt_id= movie.yt_id, href='#') #{movie.name}
                    td
                        a(href='http://www.imdb.com/title/#{movie.imdb_id}/' target='_blank')
                            img(src='/public/images/imdb_sm.png' width=30 height=14 border=0)
                    td
                        a(href='http://www.boxofficemojo.com/movies/?id=#{movie.bom_id}' target='_blank')
                            img(src='/public/images/bom_sm.png' width=30 height=14 border=0)
                    if found == true
                        if winner_info.hasOwnProperty(movie._id)
                            td #{winner_info[movie._id].member_name}
                            if c_date < draft.draft_start || c_date > draft.draft_end
                                td #{winner_info[movie._id].bid}
                            else
                                td redacted
                        else
                            td
                                i None
                            td
                                i N/A
                    td #{prettyDate(movie.release_date)}
                    if movie.last_gross
                        td $#{h_num(movie.last_gross)}
                    else
                        td $0
                    if found == true && movie.last_gross
                        - var eff = movie.last_gross / winner_info[movie._id].bid
                        td #{h_num(eff)}
                    else if found == true
                        td TBD
